<footer class="fr-footer" role="contentinfo" id="footer">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <%= link_to root_path, title: t(".home_title") do %>
          <p class="fr-logo">République<br>Française</p>
        <% end %>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc"><%= t(".description") %></p>
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="<%= t(".new_window", site: "info.gouv.fr") %>" href="https://info.gouv.fr">info.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="<%= t(".new_window", site: "service-public.gouv.fr") %>" href="https://service-public.gouv.fr">service-public.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="<%= t(".new_window", site: "legifrance.gouv.fr") %>" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
          </li>
          <li class="fr-footer__content-item">
            <a class="fr-footer__content-link" target="_blank" rel="noopener external" title="<%= t(".new_window", site: "data.gouv.fr") %>" href="https://data.gouv.fr">data.gouv.fr</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <%# TODO: remplacer les href="#" par les vraies pages quand elles existeront (accessibilité, mentions légales, données personnelles, cookies) %>
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item"><a class="fr-footer__bottom-link" href="#"><%= t(".accessibility") %></a></li>
        <li class="fr-footer__bottom-item"><a class="fr-footer__bottom-link" href="#"><%= t(".legal") %></a></li>
        <li class="fr-footer__bottom-item"><a class="fr-footer__bottom-link" href="#"><%= t(".personal_data") %></a></li>
        <li class="fr-footer__bottom-item"><a class="fr-footer__bottom-link" href="#"><%= t(".cookies") %></a></li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p><%= t(".license_html", link: link_to(t(".license_link"), "https://github.com/etalab/licence-ouverte/blob/master/LO.md", target: "_blank", rel: "noopener external", title: t(".license_link_title"))) %></p>
      </div>
    </div>
  </div>
</footer>
