<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">République<br>Française</p>
            </div>
            <div class="fr-header__navbar">
              <button data-fr-opened="false" aria-controls="modal-header-menu" title="<%= t(".menu") %>" type="button" id="button-header-menu" class="fr-btn--menu fr-btn"><%= t(".menu") %></button>
            </div>
          </div>
          <div class="fr-header__service">
            <%= link_to root_path, title: t(".home_title") do %>
              <p class="fr-header__service-title"><%= t("app_name") %></p>
            <% end %>
            <p class="fr-header__service-tagline"><%= t("tagline") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fr-header__menu fr-modal" id="modal-header-menu" aria-labelledby="button-header-menu">
    <div class="fr-container">
      <button aria-controls="modal-header-menu" title="<%= t(".close") %>" type="button" id="button-close-header-menu" class="fr-btn--close fr-btn"><%= t(".close") %></button>
      <div class="fr-header__menu-links"></div>
      <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="<%= t(".nav_label") %>">
        <ul class="fr-nav__list">
          <li class="fr-nav__item">
            <%= link_to t(".home"), root_path, class: "fr-nav__link", "aria-current": (current_page?(root_path) ? "page" : nil) %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
